NODE_ENV=development
PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=mbsport
POSTGRES_PASSWORD=mbsport_password
POSTGRES_DB=mbsport

DATABASE_URL="postgresql://mbsport:mbsport_password@localhost:5432/mbsport?schema=public"

REDIS_URL="redis://localhost:6379"

JWT_SECRET="change_me_change_me"
JWT_EXPIRES_IN="1d"

BCRYPT_SALT_ROUNDS=10

BET_MIN_AMOUNT=1
